.vs/
bin/
obj/
Properties/
Lab8/Subtitles/bin
Lab8/Subtitles/obj
Lab8/Subtitles/Properties
Lab8/Account statement/bin
Lab8/Account statement/obj
Lab8/Account statement/Properties
Lab8/Anagrams/bin
Lab8/Anagrams/obj
Lab8/Anagrams/Properties